.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-cogs {
  width: 1.0712890625em;
}

.icon-film {
  width: 1.0712890625em;
}

.icon-code {
  width: 1.0712890625em;
}

.icon-shield {
  width: 0.7138671875em;
}

.icon-group {
  width: 1.0712890625em;
}

.icon-gavel {
  width: 1.0107421875em;
}
