:root {
    // --font-heading: 'Source Sans Pro', sans-serif;
    // --font-text: 'Open Sans', sans-serif;
    --primary-font: 'Rubik', sans-serif;;
}

body {
    font-family: var(--primary-font);
    font-weight: 300;
    color: #333;
}



